html{

}
body{
    height:1000px;
}
/* Header */
.navLink{
    /* margin: 0 10%; */
    float: left;
    width:25%;
}
header {
    background-color: aqua;
    position: fixed;
    top:0;
    width:100%;
}